* {
    margin: 0;
    padding: 0;
}

body {
    background: #eef2ff;
}

.top_menu {
    height: 100px;
    /*background: blue 颜色单词; rgb三原色法表示;rgba可以设置透明度;十六进制显示法(以#开头)*/
    /*background: rgb(0, 0, 255);*/
    /*background: #0033cc;  像这种重数直接选择单个即可*/
    background: #03c;
}

/*body {
    background-image:url("/ODT/html_js_css/Test_HTML/image/airline.jpg");
}*/

.title {
    background: #03c;
    width: 350px;
    color: #fff;
    /*设置字体高度和父级高度一致，刚好填充*/
    font: bold 32px/100px 微软雅黑;
    text-align: center;
    float: left;
}

/*类选择器*/
.menu_list {
    float: left;
    width: 800px;
    background: #03c;
    height: 100px;
}

/*层级选择器*/
.menu_list #ul {
    margin: 0;
}

.menu_list {
    margin: 0;
}

/* 层级显示器 选择class为menu_list下面的li标签 */
.menu_list li {
    float: left;
    background: #03c;
    color: #fff;
    width: 150px;
    height: 100px;
    list-style: none;
    font: normal 24px/100px bold 微软雅黑;
    text-align: center;
}

.menu_list li:hover {
    background: #03c;
}

.top_user > a {
    float: right;
    font: normal 16px/40px 微软雅黑;
    margin: 45px 40px;
    color: #fff;
    background: #03c;
}

/*侧边栏样式*/
.left_menu {
    position: absolute;
    color: #fff;
    top: 120px;
    left: 0;
    width: 300px;
    height: 1000px;
    background: #fff;
}

.left_title {
    float: left;
    height: 100px;
    width: 200px;
    font: normal 28px/100px 微软雅黑;
    color: #ffffff;
    background: #03c;
    text-indent: 50px;

}

.left_menu_list li {
    height: 60px;
    width: 80%;
    border-bottom: solid 1px #e3e2ed;
    font: normal 22px/60px 微软雅黑;
    text-indent: 50px;
    float: left;
    color: rgba(51, 62, 82, 0.73);
    /*1.添加背景图 2.背景图不平铺 3.背景图定位*/
    background-image: url("../image/test_down.png");
    background-repeat: no-repeat;
    background-position: 180px;
}

/*.left_menu_list div {*/
/*    width: 15px;*/
/*    height: 9px;*/
/*    background-image: url("../image/test_down.png");*/
/*    !*background: #0033cc;*!*/
/*    float: left;*/
/*    margin-top: 30px;*/
/*    margin-right: 20px;*/
/*}*/


/*主体内容部分样式*/
.content {
    width: 1200px;
    height: 1000px;
    position: absolute;
    left: 320px;
    top: 120px;
    background: #fff;
    padding-left: 60px;
}

.pro_info {
    width: 240px;
    height: 200px;
    border: solid 1px #9297a2;
    margin: 25px;
    float: left;
    border-radius: 10px;
    text-align: center;

}

.pro_info img {
    /*(200-1-48)/2*/
    margin-top: 75px;
}

.pro_title {
    width: 100%;
    height: 50px;
    font: normal 28px/50px 微软雅黑;
    background: #9ad2ed;
    color: #000000;
    text-align: center;
    /*设置边框顶部圆角*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pro_info p {
    font: normal 18px/35px "Microsoft YaHei UI";
    color: rgba(0, 0, 0, 0.47);
}

.pro_info div a {
    font: normal 15px/35px "Microsoft YaHei UI";
    color: #fff;
    background: blue;
    border-radius: 5px;
}



